.ContainerInformation{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    background-color: rgb(6, 62, 114);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
      
}
h4{
    font-size: small;
    color: honeydew;
}